// Theme customizations. This is where you add/modify rules
// which are vendor related (eg. Generatepress, WPForms, etc.)

/* Links
--------------------------------------------- */
.site-content a:not(.btn-primary),
.site-footer a:not([rel=home]) {
  color: #026E92;
  background: -webkit-linear-gradient(left, #026E92, #10A7D9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;

  &:after {
    left: 0;
    position: absolute;
    bottom: -0.1em;
    content: '';
    background: linear-gradient(to right, #026E92, #10A7D9);
    height: .1em;
    width: 100%;
  }
}

/* Lists
--------------------------------------------- */
ul {
  list-style: none;
}

/* Footer
--------------------------------------------- */
footer {
  &.site-info,
  &.site-info a {
    background-color: transparent;
    color: inherit;
  }

  .footer-widgets-container {
    padding: 0;
  }

  .inside-site-info {
    flex-direction: column;
  }

  ul.menu {
    display: flex;

    .menu-item:not(:last-of-type) {
      margin-right: .5em;
    }

    li {
      margin-bottom: 0;
    }
  }

}

/* WPForms
--------------------------------------------- */
div.wpforms-container-full {

  .wpforms-form {

    .wpforms-field-label {
      font-weight: normal;

      .wpforms-required-label {
        display: none;
        visibility: hidden;
      }
    }

    .wpforms-field {
      input,
      textarea {
        padding: 1.5rem 1rem;
      }
    }

    input[type=submit],
    button[type=submit],
    .wpforms-page-button {
      @extend .btn-primary;
    }
  }

}
