// Your custom theme & WordPress related CSS rules go here
// Edit custom.scss to add/modify rules which are vendor related (eg. Generatepress)

/* Front page
--------------------------------------------- */
.headshot {
  height: 220px;
  width: 220px;
}

.headshot-testimonial {
  height: 140px;
  width: 140px;
}

/* Quotes
--------------------------------------------- */
q:before {
  content: open-quote;
  left: 0.5em;
  position: absolute;
}

q:after {
  content: close-quote;
}
