// Your custom theme & WordPress related CSS rules go here
// Edit custom.scss to add/modify rules which are vendor related (eg. Generatepress)

@import "mixins";

.btn-primary {
  background-color: #320ad8; // .bg-violet-500
  border: 0;
  color: white;
  display: inline-block;
  font-weight: 700; // .font-bold
  letter-spacing: 0.05em; // .tracking-wider
  opacity: 1;
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  text-transform: uppercase; // .uppercase
  transition: all ease-in-out 0.2s;

  &:active,
  &:focus,
  &:hover {
    background-color: #320ad8; // .bg-violet-500
    border: 0;
    color: white;
    opacity: .5;
  }
}

/* Front page
--------------------------------------------- */
header.site-header {
  &:after {
    background-image: url(../img/top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 60px;
    position: absolute;
    width: 100%;
    z-index: -1;

    @include md {
      height: 200px;
    }
  }
}

.headshot {
  height: 220px;
  width: 220px;
}

.headshot-testimonial {
  height: 140px;
  width: 140px;
}

/* Footer
--------------------------------------------- */
div.site-footer footer {
  &:before {
    background-image: url(../img/bottom.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 100%;
    content: "";
    height: 60px;
    position: absolute;
    width: 100%;
    transform: rotate(180deg);
    z-index: -1;

    @include md {
      height: 120px;
    }
  }
}

/* Quotes
--------------------------------------------- */
q:before {
  content: open-quote;
  left: 0.5em;
  position: absolute;
}

q:after {
  content: close-quote;
}
