// Your custom theme & WordPress related CSS rules go here
// Edit custom.scss to add/modify rules which are vendor related (eg. Generatepress)

/* Headings
--------------------------------------------- */

/* Links
--------------------------------------------- */

/* Shadows
--------------------------------------------- */
.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

/* Tracking
--------------------------------------------- */
$tracking-tight:   -0.025em;
$tracking-tighter: -0.05em;
$tracking-wide:     0.025em;
$tracking-wider:    0.05em;
$tracking-widest:   0.1em;

.tracking-wider {
  letter-spacing: $tracking-wider;
}

.tracking-widest {
  letter-spacing: $tracking-widest;
}

/* Typography
--------------------------------------------- */
$font-size-base: 1rem;

$text-tiny: $font-size-base * 0.555;
$text-xs: 	$font-size-base * 0.702;
$text-sm: 	$font-size-base * 0.889;

$text-lg: 	$font-size-base * 1.125;
$text-xl: 	$font-size-base * 1.266;
$text-2xl: 	$font-size-base * 1.424;
$text-3xl: 	$font-size-base * 1.602;
$text-4xl: 	$font-size-base * 1.802;
$text-5xl: 	$font-size-base * 2.027;
$text-6xl: 	$font-size-base * 2.281;

$display1-size: $font-size-base * 4.624;
$display2-size: $font-size-base * 4.11;
$display3-size: $font-size-base * 3.653;
$display4-size: $font-size-base * 3.247;

.display-1 {
  font-size: $display1-size;
}

.display-2 {
  font-size: $display2-size;
}

.display-3 {
  font-size: $display3-size;
}

.display-4 {
  font-size: $display4-size;
}

.text-opacity-75 {
  opacity: 0.75;
}

.uppercase {
  text-transform: uppercase;
}
